@model UD7ejercicio1.Models.VM.EditarPersonaVM
@{
    ViewData["Title"] = "Editar Persona";
}
<h1 class="mb-4">@ViewData["Title"]</h1>
<form asp-action="EditarPersona">
    <div class="form-group mb-3">
        <label for="Id">ID</label>
        @Html.TextBoxFor(m => m.Persona.Id, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group mb-3">
        <label for="Nombre">Nombre</label>
        @Html.TextBoxFor(m => m.Persona.Nombre, new { @class = "form-control" })
    </div>
    <div class="form-group mb-3">
        <label for="Apellido">Apellido</label>
        @Html.TextBoxFor(m => m.Persona.Apellido, new { @class = "form-control" })
    </div>
    <div class="form-group mb-3">
        <label for="Edad">Edad</label>
        @Html.TextBoxFor(m => m.Persona.Edad, new { @class = "form-control", type = "number", min = "0" })
    </div>
    <div class="form-group mb-3">
        <label for="IdDepartamento">Departamento</label>
        <select asp-for="Persona.IdDepartamento" class="form-select">
            @foreach (var dep in Model.Departamentos)
            {
                <option value="@dep.IdDepartamento" selected="@(Model.Persona.IdDepartamento == dep.IdDepartamento)">
                    @dep.NombreDepartamento
                </option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>