@model UD7ejercicio1.Models.Entities.Persona

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>

    <p>Estamos a día @ViewBag.Date</p>
    <p>@ViewData["Greeting"]</p>
    <p>Hola, me llamo @Model.Nombre @Model.Apellido y tengo @Model.Edad años.</p>
</div>

<a href="@Url.Action("listadoPersonas", "Home")">Lista de Personas</a>